html, body, header,
footer, main,
h1, h2, ul, li, a {
  margin: 0px;
  padding: 0px;
  border: 0px;
  text-decoration: none;
  color: inherit;
  font-family: sans-serif;

}

@mixin bar($vertical-padding) {
  color: white;
  background-color: tomato;
  box-shadow: RGBa(200, 200, 200, .7) 0px 1px 4px;

  padding: $vertical-padding 0px;
  text-align: center;
}

header {
  @include bar(16px);
  font-size: 38px;
}

footer {
  @include bar(12px);
  font-size: 22px;

  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;

  ul {
    li {
      display: inline-block;
      margin: 0px 10px;
    }
  }
}
